/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ----------- Анимация сердца -----------*/

.like-icon {
  width: 39px;
  height: 36px;
}

/* Группа сердца без искр */
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s ;
}

/* Контур сердца */
.contour {
  transition: fill 0.1s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

/* Заливка сердца */
.main-body {
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* Сердцевина сердца */
.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

/* Искры сердца */
.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s ease-in 0.3s;
}

/* ---------------------------------------- */

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.25;
  }

  0% {
    scale: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}